permissions:
  contents: write

name: "Build & Test"
on:
  push:
    tags:
      - 'v**'
    branches:
      - main
      - dev
      - refactor
  pull_request:
    branches:
      - main
      - dev
      - refactor

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: 'actions/checkout@v5'
        with:
          lfs: 'true'

      - name: Set up Go
        uses: 'actions/setup-go@v5'
        with:
          go-version: '1.23.4'

      - name: Install libarchive
        run: brew install libarchive

      - name: Lint
        uses: 'golangci/golangci-lint-action@v8'
        with:
          version: 'latest'

      - name: Test

        run: |
          export LDFLAGS="-L/opt/homebrew/opt/libarchive/lib"    
          export CPPFLAGS="-I/opt/homebrew/opt/libarchive/include" 
          export PKG_CONFIG_PATH="/opt/homebrew/opt/libarchive/lib/pkgconfig" 
          go test -v